#projectContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;
    padding: 0.625rem 3.125rem;
}

#textNoProjects {
    padding: 1.25rem;
    text-align: center;
}

#buttonAddProject {
    display: flex;
    width: fit-content;
    align-self: center;
    background-color: var(--secondary-dark);
}
