#project {
    height: fit-content;
    background-color: var(--clr-project);
    /* border: 1px solid #F1FAFF; */
    box-shadow: 0rem 0rem 0.3125rem 0.0625rem var(--clr-project-shadow);
    border-radius: 0.625rem;
    margin: 0.9375rem 0rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#projectSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectOptionsList {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.projectOption {
    padding: 0rem 0.625rem;
}

.projectCheckbox {
    flex-basis: 5%;
    height: 0.875rem;
    width: 3.75rem;
}

#projectTitle {
    display: flex;
    margin: 0.25rem;
    padding-left: 0.625rem;
    border-left: 0.125rem dotted var(--primary-dark);
    border-right: 0.125rem dotted var(--primary-dark);
    flex-basis: 75%;
    justify-content: flex-start;
}

