#project {
    height: fit-content;
    background-color: #E0E0E0;
    /* border: 1px solid #F1FAFF; */
    box-shadow: 0px 0px 5px 1px #BABABA;
    border-radius: 10px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#projectSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectOptionsList {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.projectOption {
    padding: 0px 10px;
}

input {
    flex-basis: 5%;
}

#projectTitle {
    display: flex;
    margin: 4px;
    padding-left: 10px;
    border-left: 2px dotted #344765;
    border-right: 2px dotted #344765;
    flex-basis: 75%;
    justify-content: flex-start;
}

