#taskContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: inherit;
    margin-top: 1.25rem;
    border: 0.0625rem solid var(--primary-dark);
    background-color: var(--primary-dark);
    /* margin: 30px 100px; */
    padding: 1.25rem 9.375rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

#buttonAddTask{
    margin-top: 1.875rem;
    background-color: var(--primary-light);
    color: var(--secondary-dark);
    font-weight: 500;
    font-size: 0.9375rem;
}

#textNoTasks {
    padding: 1.25rem;
    text-align: center;
    color: var(--primary-light);
}