#taskContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: inherit;
    margin-top: 20px;
    border: 1px solid var(--primary-dark);
    background-color: var(--primary-dark);
    /* margin: 30px 100px; */
    padding: 20px 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#buttonAddTask{
    margin-top: 30px;
    background-color: var(--primary-light);
    color: var(--secondary-dark);
    font-weight: 500;
    font-size: 15px;
}

#textNoTasks {
    padding: 20px;
    text-align: center;
    color: var(--primary-light);
}