#task {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.625rem 0rem;
    background-color: var(--clr-task);
    box-shadow: 0rem 0rem 0.3125rem 0.0625rem var(--clr-task-shadow);
    border-radius: 0.625rem;
}

.taskOptionsList {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.taskOption {
    padding: 0rem 0.625rem;
}

.taskOption:hover{
    cursor: pointer;
}

.taskCheckbox {
    flex-basis: 5%;
    height: 0.875rem;
    width: 3.75rem;
}

#taskTitle {
    display: flex;
    margin: 0.25rem;
    padding-left: 0.625rem;
    border-left: 0.125rem dotted var(--primary-dark);
    border-right: 0.125rem dotted var(--primary-dark);
    flex-basis: 75%;
    justify-content: flex-start;
    /* color: rgb(250, 250, 250); */
}