:root {
  --primary-dark: #282c34;
  --primary-light: #fafafa;

  --secondary-dark: #344765;

  --clr-navbar: #c3c6cc;

  --clr-red: #bb3b35;

  --clr-project: #e0e0e0;
  --clr-project-shadow: #616161;

  --clr-task: #babaab;
  --clr-task-shadow: #3b3b36;

  --clr-modal-background: rgba(220, 220, 220, 0.781)
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
