#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-modal-background);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    align-items: center;
    background-color: var(--primary-dark);
    border: 1px solid var(--clr-task);
    padding:20px;
    margin: 10px 0px;
    color: var(--primary-light);
}

.form-group {
    width: 70%;
}

.form-group * {
    width: 100%;
}

.formButton {
    width: 15%;
    margin: auto;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}